.sprite-overworld {
  width: 16px;
  height: 16px;
  background-color: #4b974c;
}
.sprite-overworld--tree_trunk {
  width: 32px;
  height: 32px;
  background-color: #6b976c;
  background-position: -349px -83px;
}
.sprite-overworld--tree {
  width: 64px;
  height: 82px;
  background-position: -375px -206px;
}
