.sprite-overworld {
  width: 16px;
  height: 16px;
  background-image: url('./overworld.png');
}

/* grass */
.sprite-overworld--grass {
  width: 16px;
  height: 16px;
  background-color: #4b974c;
  background-image: none;
}

/* grass-water edge */
.sprite-overworld--grass_edge_water_n {
  width: 16px;
  height: 8px;
  background-position: -36px -227px;
}
.sprite-overworld--grass_edge_water_s {
  width: 16px;
  height: 8px;
  background-position: -36px -185px;
}
.sprite-overworld--grass_edge_water_e {
  width: 8px;
  height: 16px;
  background-position: -18px -202px;
}
.sprite-overworld--grass_edge_water_w {
  width: 8px;
  height: 16px;
  background-position: -62px -202px;
}
.sprite-overworld--grass_edge_water_ne {
  width: 8px;
  height: 8px;
  background-position: -27px -227px;
}
.sprite-overworld--grass_edge_water_nw {
  width: 8px;
  height: 8px;
  background-position: -53px -227px;
}
.sprite-overworld--grass_edge_water_se {
  width: 8px;
  height: 8px;
  background-position: -27px -185px;
}
.sprite-overworld--grass_edge_water_sw {
  width: 8px;
  height: 8px;
  background-position: -53px -185px;
}
.sprite-overworld--grass_edge_water_naw {
  width: 8px;
  height: 8px;
  background-position: -53px -218px;
}
.sprite-overworld--grass_edge_water_nae {
  width: 8px;
  height: 8px;
  background-position: -27px -218px;
}
.sprite-overworld--grass_edge_water_saw {
  width: 8px;
  height: 8px;
  background-position: -53px -194px;
}
.sprite-overworld--grass_edge_water_sae {
  width: 8px;
  height: 8px;
  background-position: -27px -194px;
}

/* grass-dirt edge */
.sprite-overworld--grass_edge_dirt_n {
  width: 16px;
  height: 8px;
  background-position: -99px -227px;
}
.sprite-overworld--grass_edge_dirt_s {
  width: 16px;
  height: 8px;
  background-position: -99px -185px;
}
.sprite-overworld--grass_edge_dirt_e {
  width: 8px;
  height: 16px;
  background-position: -82px -202px;
}
.sprite-overworld--grass_edge_dirt_w {
  width: 8px;
  height: 16px;
  background-position: -124px -202px;
}
.sprite-overworld--grass_edge_dirt_naw {
  width: 8px;
  height: 8px;
  background-position: -116px -218px;
}
.sprite-overworld--grass_edge_dirt_nae {
  width: 8px;
  height: 8px;
  background-position: -90px -218px;
}
.sprite-overworld--grass_edge_dirt_saw {
  width: 8px;
  height: 8px;
  background-position: -116px -194px;
}
.sprite-overworld--grass_edge_dirt_sae {
  width: 8px;
  height: 8px;
  background-position: -90px -194px;
}

/* dirt */
.sprite-overworld--dirt {
  width: 16px;
  height: 16px;
  background: #877848;
}

/* water */
.sprite-overworld--water {
  width: 16px;
  height: 16px;
  background-color: #5a81be;
  background-image: none;
}

/* objects */
.sprite-overworld--boulder {
  width: 32px;
  height: 32px;
  background-position: -386px -44px;
}
.sprite-overworld--stone {
  width: 16px;
  height: 16px;
  background-position: -304px -74px;
}
.sprite-overworld--tree_trunk {
  width: 32px;
  height: 32px;
  background-color: #6b976c;
  background-position: -349px -83px;
}
.sprite-overworld--tree {
  width: 64px;
  height: 82px;
  background-position: -375px -206px;
}
.sprite-overworld--leaves {
  width: 16px;
  height: 16px;
  background-position: -253px -57px;
}
.sprite-overworld--bush {
  width: 16px;
  height: 16px;
  background-position: -304px -57px;
}
.sprite-overworld--flower {
  width: 8px;
  height: 8px;
  background-position: -287px -48px;
}
.sprite-overworld--spot {
  width: 8px;
  height: 8px;
  background-position: -240px -39px;
}
.sprite-overworld--rock {
  width: 8px;
  height: 8px;
  background-position: -512px -56px;
}
.sprite-overworld--skeleton {
  width: 32px;
  height: 32px;
  background-position: -62px -340px;
}
