.toolbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: #222;
  border-top: 1px solid #666;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.15);
}
.toolbar .base-tiles {
  padding: 8px;
}
.toolbar .sprite {
  border: 1px solid transparent;
}
.toolbar .sprite:hover {
  border: 1px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.toolbar .sprite.selected {
  border: 1px solid rgba(255, 255, 255, 0.9);
}
