.toolbar {
  margin: 8px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  background: #222;
  border-top: 1px solid #666;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.15);
}
.toolbar .tiles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.toolbar .tile {
  flex: 0 0 auto;
  margin: 8px;
  border: 1px solid transparent;
}
.toolbar .tile:hover {
  border: 1px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.toolbar .tile.selected {
  border: 1px solid rgba(255, 255, 255, 0.9);
}
