.cursor {
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 5px 1px rgba(255, 255, 255, 0.25);
}
.cursor .sprite {
  opacity: 0.6;
  box-shadow: inset 0 0 5px 1px rgba(255, 255, 255, 0.25);
}
