.map {
  flex: 0 0 auto;
  display: flex;
  position: relative;
  background: #222;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  overflow: hidden;
}
.map .layers {
  flex: 1 1 auto;
  position: relative;
}
.map .layers .layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translatez(0); /* Make each layer a Compisite Layer */
}
