.map {
  position: relative;
  cursor: pointer;
}
.hovered-cell {
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  pointer-events: none;
}
.painted-cell {
  position: absolute;
  background: teal;
  pointer-events: none;
}
