.tile {
  /* This slight scale avoids pixel rounding gaps. */
  /*transform: scale(1.01);*/
}
.tile .edges {
  position: absolute;
  top: 0;
  left: 0;
}
.tile .edges .edge {
  position: absolute;
}
.tile .edges .edge--n {
  top: 0;
  left: 0;
}
.tile .edges .edge--s {
  bottom: 0;
  left: 0;
}
.tile .edges .edge--e {
  top: 0;
  right: 0;
}
.tile .edges .edge--w {
  top: 0;
  left: 0;
}
.tile .edges .edge--ne,
.tile .edges .edge--nae {
  top: 0;
  right: 0;
}
.tile .edges .edge--nw,
.tile .edges .edge--naw {
  top: 0;
  left: 0;
}
.tile .edges .edge--se,
.tile .edges .edge--sae {
  bottom: 0;
  right: 0;
}
.tile .edges .edge--sw,
.tile .edges .edge--saw {
  bottom: 0;
  left: 0;
}
